.profile-card {
  --padding: 1rem;
  --c: 35, 31, 32;
  --c3: rgb(var(--c));
  --c2: color-mix(in srgb, rgb(var(--c)) 30%, white);
  --c1: color-mix(in srgb, rgb(var(--c)) 60%, white);

  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
  font-size: 1rem;
  max-width: fit-content;
  overflow: clip;
  width: 100%;

  > * {
    margin-inline: var(--padding);

    &:last-child {
      margin-block-end: var(--padding);
    }
  }
}

.profile-card__figure {
  margin: 0;
  position: relative;
  text-align: center;
}

.profile-card__figureCnt {
  display: grid;

  &::before {
    background: var(--c3);
    content: "";
    grid-column: 1;
    grid-row: 1;
    transition: background-color 0.3s ease-in;
    transition-delay: 0.6s;
  }

  svg {
    grid-column: 1;
    grid-row: 2;
  }

  path {
    fill: var(--c1);
    transition: fill 0.3s ease-in;

    + path {
      fill: var(--c2);
      transition-delay: 0.3s;

      + path {
        fill: var(--c3);
        transition-delay: 0.6s;
      }
    }
  }
}

.profile-card__imgBtn {
  all: unset;
  cursor: pointer;
  display: contents;
}

.profile-card__img {
  aspect-ratio: 1;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: block;
  grid-column: 1;
  grid-row: 1;
  margin: var(--padding) auto 0;
  width: 80px;
}

.profile-card__figureCaption {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: calc(0.25 * var(--padding)) var(--padding) var(--padding);
}

.profile-card__figureCaptionName {
  font-size: 1.25em;
  font-weight: 500;
  letter-spacing: .1em;
}

.profile-card__figureCaptionHandle {
  color: currentcolor;
  font-size: 0.8em;
  letter-spacing: -0.05em;
  opacity: 0.75;
  text-decoration: none;
}

.profile-card__social {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--padding);

  a {
    color: currentColor;
    display: inline-block;
    font-size: 1.125em;
    line-height: 0;

    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }
  }

  svg {
    display: inline-block;
  }
}

.profile-card__bio {
  text-wrap: pretty;
  width: fit-content;
}

.profile-card__actions {
  display: grid;
  gap: var(--padding);
  grid-template-columns: 1fr 1fr;

  a {
    background-color: var(--c1);
    border: 1px solid var(--c1);
    border-radius: 1em;
    color: currentColor;
    display: block;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1;
    padding: 0.5em;
    text-decoration: none;
    text-align: center;
    width: fit-content;

    &:last-of-type {
      background: none;
      border: 1px solid currentColor;
    }
  }
}
